{% extends "base_login.html" %}
 {% load static %}
 {% block content %}
<body class="user">

<div class="container-sm" style="float: left; padding-left: 5%; padding-top: 4%; ">
    <div class="" style="height: 100%; background-color: #fff;">
      <div class="container " style = "float: left;">
        <div class="col-6"><p  style="background-color: white; float: left; font-size: 22pt;"><strong>Turnos del día:</strong></p></div>
        <form method="post" action="{% url 'BuscarDNI' %}">{% csrf_token %}
          <div class="col-2"style="float:right"><button class="button2" name="limpiar_dni" id="limpiar_dni" style="border-color: transparent;" onclick=myFunctionBuscarDNITurno(this) type="button">Limpiar</button></div>
          <div class="col-2" style="float:right"><button class="button2" name="buscar_dni" id="buscar_dni" style="border-color: transparent;" onclick=myFunctionBuscarDNITurno(this) type="button">Buscar DNI</button></div>
          <div class="col-4" style="float:right"><input style="border: 1px solid gray ;" type="text" name="Dni" id="myInput"  minlenght="7" maxlength="8" placeholder="Ingrese un DNI"></div>
        </form>
      </div>
        <table class="table table-hover" id="myTable" style="border: 1px solid black;">
            <thead class="table-secondary">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vacuna</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            {% for turno in turnos %}
            <tr>
                <td class="dni_t">{{turno.usuario.dni}}</td>
                <td class="row_b">{{turno.usuario.nombre_apellido}}</td>
                <td class="row_c">{{turno.fecha.day}}/{{turno.fecha.month}}/{{turno.fecha.year}}</td>
                <td class="tipo_t">{{turno.vacuna.tipo}}</td>
                <td class="edit_row"><button class="button2" style="font-size: small; padding: 4px 8px;">Cargar</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<form action="/cargar_vacuna_aplicada_con_turno/" method="POST" id="formularioCargaConTunro">{% csrf_token %}
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center" style="background: #a2cb83d8;">
          <h4 class="modal-title w-100 font-weight-bold">Cargar vacuna</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-4">
            
            <label data-error="wrong" data-success="right" for="defaultForm-pass">DNI</label>
            <input id="dni" name="Dni" class="form-control validate" readonly>
          </div>
      
            <div class="md-form mb-4">
              
              <label data-error="wrong" data-success="right" for="defaultForm-email">Tipo</label>
              <input  id="tipo" name="Tipo" class="form-control validate" readonly>
              
            </div>
            <div class="md-form mb-4">
              
              <label data-error="wrong" data-success="right" for="defaultForm-email">Marca</label>
              <input  id="marca" name="Marca" class="form-control validate" required>
              
            </div>
    
            <div class="md-form mb-4">
              
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Lote</label>
              <input id="lote" name="Lote" class="form-control validate" required>
              
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="button2 btn-default" style="min-width: 100%;">Cargar</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% if tipo_a_cargar != "" %}
<form action="" method="POST" id="formularioCargaSinTurno">{% csrf_token %}
  <div class="modal fade" id="modalCargaSinTurno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center" style="background: #a2cb83d8;">
          <h4 class="modal-title w-100 font-weight-bold">Cargar vacuna</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-4" hidden>   
            <label data-error="wrong" data-success="right">DNI</label>
            <input id="dni" value="{{ dni_a_cargar }}" name="Dni" class="form-control validate" readonly> 
          </div>
          

          <div class="md-form mb-4">   
            <label data-error="wrong" data-success="right">Fecha</label>
            <input type="date" id="fecha" value="{{ today }}" name="Fecha" class="form-control validate" required pattern="\d{4}-\d{2}-\d{2}" readonly> 
          </div>

          <div class="md-form mb-4">   
            <label data-error="wrong" data-success="right">Email</label>
            <input  required id="email" value="{{ email_a_cargar }}" name="Email" class="form-control validate"> 
          </div>

          <div class="md-form mb-4">  
            <label data-error="wrong" data-success="right" >Marca</label>
            <input  id="marca" name="Marca" class="form-control" required>
          </div>
    
          <div class="md-form mb-4">              
            <label data-error="wrong" data-success="right">Lote</label>
            <input id="lote" name="Lote" class="form-control" required>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" id="cargarSinTurno" class="button2 btn-default" onclick=funcionCargaSinTurno() value = "{{ tipo_a_cargar }}"style="min-width: 100%;">Cargar vacuna</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" language="JavaScript">
  let modalCargaSinTurno = new bootstrap.Modal(document.getElementById('modalCargaSinTurno'), {});
  modalCargaSinTurno.show();
</script>
{% elif registrado != "" %}

<form action="" method="POST" id="formularioBotones">{% csrf_token %}
  <div class="modal fade" id="modalBotones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center" style="background: #a2cb83d8;">
          <h4 class="modal-title w-100 font-weight-bold">Cargar vacuna</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right">DNI</label>
            <input  id="dni" name="Dni" value="{{ dni }}" class="form-control" readonly>
          </div>

          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right">Nombre y apellido</label>
            <input  id="nombre_apellido" name="Nombre_apellido" value="{{ nombre_apellido }}"class="form-control" readonly>
          </div>

          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" >Fecha de nacimiento</label>
            <input  id="fecha_nacimiento" name="Fecha_nacimiento" value= "{{ fecha_nacimiento }}" class="form-control" readonly>
          </div>

          <div class="md-form mb-4" hidden>
            <label data-error="wrong" data-success="right" >Email</label>
            <input  id="email" name="Email" value="{{ email }}"class="form-control">
          </div>


        </div>
        <div class="justify-content-center" style="align-items:center; padding-left:5%; padding-right:5%; padding-bottom:5%">
          {% for tipo in tipos %}
            <button type="button" class="button2" value="{{ tipo.tipo }}" onclick=functionBoton(this)>{{ tipo.tipo }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" language="JavaScript">
  let modalBoton = new bootstrap.Modal(document.getElementById('modalBotones'), {});
  modalBoton.show();
</script>

{% elif mensaje != "" %}
{% if mensaje != None %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ mensaje }}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" language="JavaScript">
    let myModal = new bootstrap.Modal(document.getElementById('exampleModalCenter'), {});
    myModal.show();
</script>
{% endif %}
{% endif %}

<script>
  function funcionCargaSinTurno(){
    var elemento = document.getElementById("formularioCargaSinTurno");
    var boton = document.getElementById("cargarSinTurno");
    var tipo = boton.value
    if (tipo == "Fiebre_amarilla"){      
      elemento.setAttribute('action', "{% url 'CargarSinTurnoFiebreA' %}");
    }
    if (tipo == "COVID-19"){      
      elemento.setAttribute('action', "{% url 'CargarSinTurnoCOVID' %}");
    } 
    if (tipo == "Gripe") {           
      elemento.setAttribute('action', "{% url 'CargarSinTurnoGripe' %}");    
    }
    boton = document.getElementById("cargarSinTurno");
    boton.setAttribute("type", "submit");
    boton.click();


  }
</script>

<script>
    var edit_row = document.querySelectorAll('#myTable .edit_row');
    for(var i=0; i<edit_row.length; i++) {
      edit_row[i].addEventListener('click', function(e){
        // get parent row, add data from its cells in form fields
        var tr_parent = this.parentNode;
        document.getElementById('dni').value = tr_parent.querySelector('.dni_t').innerHTML;
        document.getElementById('tipo').value = tr_parent.querySelector('.tipo_t').innerHTML;

        // display the form, and focus on a form field
        $("#modalLoginForm").modal()
        document.getElementById('dni').focus();
      }, false);

    }
  
</script>

<script>
  function functionBoton(eve){
    var boton = eve.value;
    console.log(boton);
    console.log(eve);
    elemento = document.getElementById("formularioBotones");
    if (boton == "Fiebre_amarilla"){
      
      elemento.setAttribute('action', "{% url 'FiebreAmarilla' %}");
      
    }
    if (boton == "COVID-19"){
      
      elemento.setAttribute('action', "{% url 'COVID' %}");
      
    } 
    if (boton == "Gripe"){
      
      elemento.setAttribute('action', "{% url 'Gripe' %}"); 
      
    }
    eve.setAttribute('type', "submit");
    eve.click();
  }
</script>

<script>

  function myFunctionBuscarDNITurno(eve) {
    // Declare variables
    var input, filter, table, tr, td, i, txt, id, vacio;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    id = eve.id
    if (id == "limpiar_dni") {
        filter = null;
        input.value = "";
    }
    vacio = true
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (filter != ""){
        txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().trim() === filter || filter == null) {
            tr[i].style.display = "";
            vacio = false;
          } else {
            tr[i].style.display = "None";
          }
        }
      }
    }
    if (vacio == true && id == "buscar_dni" && filter != "") {   
      elemento = document.getElementById("buscar_dni");
      elemento.setAttribute('onclick', "");
      elemento.setAttribute('type', "submit");
      elemento.click()   
    }
  }

</script>



{% endblock %}